body {
    background-color: #FEFAE0; 
}
h1{
    text-align: center;
}

.navbar {
    background-color: #CCD5AE; 
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: #FEFAE0; 
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #E0E5B6; 
    color: #FAEDCE;
}

.titulo
{
    font-size: 35px;
    font-weight: bold;
}

.parrafo
{
    font-size: 16px;
    color: #333;
    line-height: 2;
    text-align: center;
    width:60%;
    margin: 0 auto;
}

.imagencentrada
{
    Display: block;
    margin: 20px auto;
    max-width: 600px;
    width: 80%;
    height: auto;
}