body{
    overflow-x: hidden;
}
h1{
    text-align: center;
}
.navbar {
    background-color: #CCD5AE; 
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar a {
    text-decoration: none;
    color: #FEFAE0; 
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.navbar a:hover {
    background-color: #E0E5B6; 
    color: #FAEDCE;
}
.footer {
    background-color: #CCD5AE;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #FEFAE0; 
    margin-top: 20px; 
    margin-bottom: 0px;
}
.footer .redes-sociales {
    display: flex;
    justify-content: center;
    gap: 15px; 
}
.footer .redes-sociales img {
    width: 30px;
    height: 30px;
    background-color: #E0E5B6; 
    padding: 5px;
    border-radius: 50%;
}
.contenedor-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    background-color: #FAEDCE; 
    box-sizing: border-box;
}
.fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.columna {
    width: 22%; 
    text-align: center;
    padding: 10px;
    background-color: #CCD5AE; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}
.columna img {
    width: 210px;
    height: 170px;
    object-fit: cover; 
    border-radius: 5px;
}
.columna p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}
.columna p:first-of-type {
    font-weight: bold;
    color: #272727; 
    font-family: Arial, sans-serif;
}
.columna p:last-of-type {
    font-family: 'Courier New', Courier, monospace; 
    color: #000000; 
    font-weight: 550;
}
.columna:hover {
    background-color: #E0E5B6; 
}
